@font-face {
    font-family: 'baywa-iconfont';
    font-display: block;
    src: url('/fonts/baywa-iconfont.eot?au56uz');
    src: url('/fonts/baywa-iconfont.eot?au56uz#iefix') format('embedded-opentype'), 
    url('/fonts/baywa-iconfont.woff2?au56uz') format('woff2'), 
    url('/fonts/baywa-iconfont.woff?au56uz') format('woff'),
    url('/fonts/baywa-iconfont.ttf?au56uz') format('truetype'),
    url('/fonts/baywa-iconfont.svg?au56uz#baywa-iconfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

.icon-arrow-down::before {
    content: '\e900';
}

.icon-arrow-left::before {
    content: '\e901';
}

.icon-arrow-right::before {
    content: '\e902';
}

.icon-arrow-up::before {
    content: '\e903';
}

.icon-attention::before {
    content: '\e904';
}

.icon-barcode::before {
    content: '\e905';
}

.icon-basket-filled::before {
    content: '\e906';
}

.icon-basket::before {
    content: '\e907';
}

.icon-bill::before {
    content: '\e908';
}

.icon-calendar::before {
    content: '\e909';
}

.icon-chat::before {
    content: '\e90a';
}

.icon-checkmark::before {
    content: '\e90b';
}

.icon-close::before {
    content: '\e90c';
}

.icon-delete-01::before {
    content: '\e90d';
}

.icon-delete-02::before {
    content: '\e90f';
}

.icon-facebook::before {
    content: '\e910';
}

.icon-heart::before {
    content: '\e911';
}

.icon-info::before {
    content: '\e912';
}

.icon-menu::before {
    content: '\e913';
}

.icon-minus::before {
    content: '\e914';
}

.icon-palette::before {
    content: '\e915';
}

.icon-plus::before {
    content: '\e916';
}

.icon-search::before {
    content: '\e917';
}

.icon-star::before {
    content: '\e918';
}

.icon-truck::before {
    content: '\e919';
}

.icon-twitter::before {
    content: '\e91a';
}

.icon-user::before {
    content: '\e91b';
}

.icon-youtube::before {
    content: '\e91c';
}

.icon-standort::before {
    content: '\e90e';
}

.icon-faq::before {
    content: '\e91d';
}

.icon-mail::before {
    content: '\e91e';
}

.icon-phone::before {
    content: '\e91f';
}

.icon-edit::before {
    content: '\e920';
}

.icon-zoom-out::before {
    content: '\e922';
}

.icon-zoom-in::before {
    content: '\e921';
}

.icon-refresh::before {
    content: '\e923';
}

.icon-direct-order::before {
    content: '\e924';
}

.icon-print::before {
    content: '\e925';
}

.icon-download::before {
    content: "\e926";
}

.icon-baustoffe::before {
    content: "\e927";
}

.icon-energie::before {
    content: "\e929";
}

.icon-eye::before {
    content: "\e92c";
}

.icon-warning::before {
    content: "\e92b";
}

.icon-filter::before {
    content: "\e92a";
}

.icon-oil::before {
    content: "\e92e";
}

.icon-rechner::before {
    content: "\e92d";
}

.icon-tankwagen::before {
    content: "\e930";
}

.icon-agrar::before {
    content: "\e92f";
}

.icon-variante::before {
    content: "\e931";
}

.icon-bulkDelivery::before {
    content: "\e932";
}

.icon-expressversand::before {
    content: "\e933";
}

.icon-home::before {
    content: "\e934";
}

.icon-offer::before {
    content: "\e935";
}

.icon-add-to-cart::before {
    content: "\e936";
}

.icon-curved-arrow::before {
    content: '\e939';
}

.icon-house-arrow::before {
    content: '\e937';
}

.icon {
    display: inline-block;
    vertical-align: middle;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: color 0.3s linear;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

.icon::before {
    font-family: 'baywa-iconfont';
    display: block;
    font-size: 1em;
    padding-right: 0;
    transition: color 0.3s linear;
}
.icon:empty::before {
    font-size: 1em;
    padding-bottom: 0;
    vertical-align: unset;
}

.icon.icon-gray {
    color: #808080;
    font-size: 1em;
}

.icon.icon-gray::before {
    display: inline;
    color: #808080;
    padding-right: 10px;
    padding-bottom: 0;
    font-size: 1em;
    vertical-align: bottom;
}

.icon.icon-gray:hover {
    color: #006f3b;
}

.icon.icon-gray:hover::before {
    color: #006f3b;
}

.icon.icon-gray:empty::before {
    font-size: 1em;
    padding-right: 0;
    vertical-align: unset;
}

.icon.icon-green {
    color: #008c46;
    font-size: 1em;
}

.icon.icon-green::before {
    display: inline;
    color: #008c46;
    padding-right: 10px;
    padding-bottom: 0;
    font-size: 1em;
    vertical-align: bottom;
}

.icon.icon-green:hover {
    color: #006f3b;
}

.icon.icon-green:hover::before {
    color: #006f3b;
}

.icon.icon-green:empty::before {
    font-size: 1em;
    padding-right: 0;
    vertical-align: unset;
}

.icon.icon-background {
    position: relative;
    width: 30px;
    height: 30px;
    color: #808080;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.icon.icon-background::before {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;
    transform: translate(-50%, -50%);
}

.icon.icon-lg {
    vertical-align: unset;
}

.icon.icon-lg::before {
    font-size: 1em;
}

.icon.icon-sm::before {
    font-size: 1em;
}

.icon.update::before {
    animation: shake-icon 0.5s linear 0s 2;
}

.icon[data-badge]:not([data-badge=""]) {
    position: relative;
}

.icon[data-badge]:not([data-badge=""])::after {
    font-family: 'Baywa-Font', Arial, sans-serif;
    content: attr(data-badge);
    font-size: 1em;
    color: #fff;
    background-image: radial-gradient(#d7373c 99%, #ffffff 100%);
    border: 2px solid #fff;
    padding: 0 5px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateY(-50%);
    height: 20px;
    min-width: 20px;
    line-height: 16px;
    text-align: center;
}

@media(min-width:1024px) {
    .icon[data-badge]:not([data-badge=""])::after {
        font-size: 1em;
        height: 24px;
        min-width: 24px;
        line-height: 20px;
    }
}