.container{
    max-width: 1200px;
    margin: auto;
}
.pb-full{
    padding-bottom: 100%;
}
.pb-2\/3{
    padding-bottom: 75%;
}
.pb-1\/2{
    padding-bottom: 50%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}